<div style=" text-align: center">
	<br>
	<input type="text" #name class="form-control" placeholder="ENTER YOUR EMAIL">
	<br> 
	<br>
<a  class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true" (click)="getId(name.value)">Login</a>
	
	<router-outlet></router-outlet>

</div>

