
<div style="text-align: center">
	<h1>WELCOME TO PoS</h1>
	<br>
<a  [routerLink] = '["login"]' class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">Login as a cashier </a>
	<br>
	<br>
	<br>
<a [routerLink] = '["showtransactions"]' class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true">Show transactions by cashier</a>

</div>