<div style=" text-align: center">
	<h1>Transactions by cashier</h1>

	<select (change)="selectionChange($event.target.value)">
		<option>chose the cashier</option>
  <option *ngFor="let name of data" value={{name.id}} >{{name.firstName}}</option>
	</select>

	<table *ngIf="cashInfo" class="table">
		<thead>
			<th>Type</th>
			<th>Bill</th>
			<th>Amout</th>
			<th>Date</th>

		</thead>
		<tbody>
			<tr *ngFor="let item of cashInfo">
				<td>{{item.type}}</td>
				<td>{{item.bill}}</td>
				<td>{{item.ammount}}</td>
				<td>{{item.time}}</td>

			</tr>
		</tbody>
	</table>
</div>


