<div style=" text-align: center">
	<h1>Transactions</h1>
	
	<input type="text" #cost placeholder="cost" class="form-control" class="form-control">
	<br>
	<input type="text" #paid placeholder="paid ammount" class="form-control">
	<br>
<a class="btn btn-primary btn-lg active btn-block" role="button" aria-pressed="true" (click)="calculate(cost.value,paid.value)">calculate and save</a>

	<br>
	
	<p>{{change}}</p>
</div>